# KNN -  Regression Manually

In [1]:
import pandas as pd  
import numpy as np

In [2]:
df = pd.read_csv('KNN_for_regression.csv')

In [3]:
df

   Age  Income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65
5   21      62
6   25      65
7   30      10
8   31      68

In [4]:
x = df['Age']
y = df['Income']

In [5]:
x

0    21
1    20
2    22
3    22
4    23
5    21
6    25
7    30
8    31
Name: Age, dtype: int64

In [6]:
y

0    60
1    55
2    60
3    61
4    65
5    62
6    65
7    10
8    68
Name: Income, dtype: int64

In [7]:
x_input = int(input("Enter you age: "))

Enter you age: 22

In [8]:
distance = np.abs(x - x_input)

In [9]:
distance

0    1
1    2
2    0
3    0
4    1
5    1
6    3
7    8
8    9
Name: Age, dtype: int64

In [10]:
sorting = np.argsort(distance) 
# argsort function in Numpy returns an array of indices that would sort an array ascending order.
# it gives you the indices of the element in the orginal array in the order that sorted array

In [11]:
sorting

0    2
1    3
2    0
3    4
4    5
5    1
6    6
7    7
8    8
Name: Age, dtype: int64

In [12]:
KNN_labels = y[sorting[:3]]   # where K = 3 and counting the labels

In [13]:
KNN_labels

2    60
3    61
0    60
Name: Income, dtype: int64

In [14]:
mn = np.mean(KNN_labels)

In [15]:
mn

60.333333333333336

In [16]:
new_row = pd.DataFrame({'Age': [x_input], 'Income': [mn]}) #creating a new Dataframe for age, income

In [17]:
df = pd.concat([df, new_row], ignore_index = True) # concatenate the exisitng DataFrame with the new row DataFrame

In [18]:
df

   Age     Income
0   21  60.000000
1   20  55.000000
2   22  60.000000
3   22  61.000000
4   23  65.000000
5   21  62.000000
6   25  65.000000
7   30  10.000000
8   31  68.000000
9   22  60.333333

In [19]:
df.to_csv("Age_income_predicted.csv")

# Linear Regression Sklearn

In [20]:
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [21]:
reg = LinearRegression()

In [22]:
df_1 = pd.read_csv('KNN_for_regression.csv')

In [23]:
df_1

   Age  Income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65
5   21      62
6   25      65
7   30      10
8   31      68

In [24]:
reg.fit(df_1[['Age']], df_1[['Income']])

LinearRegression()

In [25]:
prd = reg.predict([[22]])

In [26]:
prd

array([[59.67758621]])

In [27]:
comaprison = mn - prd

In [28]:
comaprison

array([[0.65574713]])